<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Add facebook page</title>
	<link rel = "icon" href="{% static '/admin/img/tms.jpeg' %}" type = "image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static '/admin/css/home.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="">TMS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="{% url 'add_facebook_page' %}">Add Page <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'dump_facebook_lead_data' %}">Import Leads</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link " href="{% url 'send_whats_app_lead' %}">Send Leads</a>
			</li>
			  <li class="nav-item">
			  <a class="nav-link " href="{% url 'send_pdf_lead' %}">Send Pdf Leads</a>
			</li>

			<!-- <li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
			  <div class="dropdown-menu" aria-labelledby="dropdown01">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			  </div>
			</li> -->
		  </ul>
		  <!-- <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		  </form> -->
		</div>
	  </nav>
	<div class="container">

		<div class="contact-box mymargin">
			<div class="left"><img id="se" src="https://images.pexels.com/photos/5563472/pexels-photo-5563472.jpeg?auto=compress&cs=tinysrgb&w=1600" alt=""></div>
			<div class="right">
                <form action="{% url 'add_facebook_page' %}" id="myForm" method="post">
                    <h2>Facebook adv page</h2>
					{% csrf_token %}
					<div id="whatsapp">
                    <input type="text" name ="builder_name"class="field" placeholder="Please Enter Builder_name" required><span></span>
                    <input type="text" name="facebook_page" class="field" placeholder="Please Enter Facebook_page" required><span></span>
                    <input type="text" name="whats_app_number" class="field2 " placeholder="Please Enter Whats_up_Number" required><a href="" class="btn btn-primary randombtn" id="plus">Add</a>
					</div>
                    <input type="date" name="published_date" class="field" placeholder="Please Enter Published_date" required><span></span>
                    <button class="btn" style="background-color: #2ecc71;">Submit</button>
                </form>
			</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	{% for msg in messages %}

	swal({
		title: '{{msg.title}}',
		text: '{{msg.text}}',
		icon: '{{msg.icon}}',
	});
	{% endfor %}

	{% comment %} const container = document.getElementById('whatsapp');
        var maxInputAllowed = 5;
        var inputCount = 0;

        function addInput(){
            inputCount++;
            if(inputCount>5){
                alert('You can add maximum 5 input fields.');

                return;
            }
            let input = document.createElement('input');
            input.placeholder = 'enter Whatsapp no';
            input.classList.add("field");
			input.setAttribute("required", "");
			input.setAttribute("id", "ash"+inputCount);
            container.appendChild(input);

        } {% endcomment %}


{% comment %} This answer is not useful {% endcomment %}
jQuery(document).ready( function () {
		let count=0;
        $("#plus").click( function(e) {
			count++;
			if(count==5 || count>5){
				alert("maximum munber limit is 5");
				e.preventDefault();
			}

			else{
				e.preventDefault();
        		$("#whatsapp").append('<div class=""><input type="text" name="whats_app_no'+count+'" class="field2" placeholder="Please Enter Whats_up_Number" required>'+'<a href="#" style="padding-left: 5px; width:70px;" class="remove_this btn btn-danger randombtn">remove</a></div>');
        	return false;
			}
        });


    jQuery(document).on('click', '.remove_this', function() {

        jQuery(this).parent().remove();
        return false;
        });
    $("input[type=submit]").click(function(e) {
      e.preventDefault();
      $(this).next("[name=textbox]")
      .val(
        $.map($(".inc :text"), function(el) {
          return el.value
        }).join(",\n")
      )
    })
  });


</script>
</body>
</html>