<!DOCTYPE html>
{% load static %}
<html>  
<head>
	<title>Add facebook page</title>
	<link rel="stylesheet" type="text/css" href="{% static '/admin/css/home.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"><img id="se" src="https://images.pexels.com/photos/5563472/pexels-photo-5563472.jpeg?auto=compress&cs=tinysrgb&w=1600" alt=""></div>
			<div class="right">
                <form action="{% url 'add_facebook_page' %}" method="post"> 
                    <h2>Facebook adv page</h2>
                    <input type="text" name ="builder_name"class="field" placeholder="Please Enter Builder_name">
                    <input type="text" name="facebook_page" class="field" placeholder="Please Enter Facebook_page">
                    <input type="text" name="whats_app_number" class="field" placeholder="Please Enter Whats_up_Number">
                    <input type="date" name="published_date" class="field" placeholder="Please Enter Published_date">
                    <button class="btn">Submit</button>
                </form>
			</div>
		</div>
	</div>
</body>
</html> 