<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Import Leads</title>
    <link rel = "icon" href="{% static '/admin/img/tms.jpeg' %}" type = "image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/lead_send.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand tmscls" href="">TMS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'add_facebook_page' %}">Add Page <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'dump_facebook_lead_data' %}">Import Leads</a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link " href="{% url 'send_whats_app_lead' %}">Send Leads</a>
			  </li>
			<!-- <li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
			  <div class="dropdown-menu" aria-labelledby="dropdown01">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			  </div>
			</li> -->
		  </ul>
		  <!-- <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		  </form> -->
		</div>
	  </nav>
	<div class="container">


		<div class="row">

			<div class="col-lg-12">
				<div class="contact-box mycolor">
					<div class="left">
						   <img style="margin-top:25px;" src="{% static '/admin/img/wa7.png' %}" height="180"  alt="">
					   </div>
				   <div class="right">
					   <form action="{% url 'send_whats_app_lead' %}" method="post" enctype="multipart/form-data">
						   <h2>Send Leads To Whatsapp</h2>
						   <br>
						   {% csrf_token %}
							 <label for="facebook" style="font-size:25px;">Page name :</label> &nbsp;

								   <select name="ad_name" id="ad_name" required>
									   <option value="">Select Ad</option>
									   {% for i in page_name_list%}
									   <option value="{{i.facebook_page}}">{{i.facebook_page}}</option>
									   {% endfor %}

								   </select>
							   <br><br>
					   <!-- <input type="file" name="file" class="field" id="fUpload" placeholder="Please Enter Builder_name" onchange="checkextension()" required> -->
					   <button class="btn" style="background-color: #2ecc71">submit</button>
					</form>
				   </div>
			   </div>
			</div>


		</div>

	</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	{% for msg in messages %}

	swal({
		title: '{{msg.title}}',
		text: '{{msg.text}}',
		icon: '{{msg.icon}}',
	});
	{% endfor %}
</script>
</body>
</html>